{% extends 'base.html' %}
<title>Получатель рассылки</title>
{% block content %}
<p></p>
<h3 style="margin-left: 500px;">Получатель {{recipient.id}}</h3>

<div class="album py-5 bg-body-tertiary">

    <div class="container">
      <div class="col-12 ">% extends 'base.html' %}
<title>Статистика</title>
{% block content %}
<p></p>
<h3 style="margin-left: 500px;">Статистика отправленных сообщений </h3>

    <table>
        <thead>
            <tr>
                <th>ID Рассылки</th>
                <th>Статус</th>
                <th>Ответ</th>
                <th>Дата и время</th>
            </tr>
        </thead>
        <tbody>
            {% for attempt in attempts %}
            <tr>
                <td>{{ attempt.sending.id }}</td>
                <td>{{ attempt.get_status_attempt_display }}</td>
                <td>{{ attempt.answer }}</td>
                <td>{{ attempt.created_at }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Нет данных о попытках отправки.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}


        <div class="col">
          <div class="card shadow-sm">
              <div class="card-body">
                <p class="card-text">Email получателя: {{ object.email }}</p>
                <p class="card-text">ФИО получателя: {{ object.name }}</p>
                <p class="card-text">Комментарий: {{ object.comment }}</p>
                <p class="card-text">Активный: {{ object.is_active }} </p>
                <p class="card-text">Отправитель: {{ object.owner }} </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{% url 'mailing:recipient_edit' object.pk %}" class="btn btn-secondary">Редактировать</a>
                    <a href="{% url 'mailing:recipient_delete' object.pk %}" class="btn btn-danger">Удалить</a>
                    <a class="btn btn-primary" role="button" href="{% url 'mailing:recipient_list' %}">Вернуться к списку получателей</a>
                  </div>

                </div>
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}l>
